<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside class="appnav" th:fragment="appnav" id="appnav">
    <th:block th:if="${campaignId != null}">
        <a class="appnav-link appnav-home" th:href="@{/campaigns/{id}(id=${campaignId})}">Campaign Home</a>

        <div class="appnav-group">
            <div class="appnav-label">Prep</div>
            <a class="appnav-link" th:href="@{/campaigns/{id}/adventures(id=${campaignId})}">Adventures</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/encounters(id=${campaignId})}">Encounters</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/maps(id=${campaignId})}">Maps</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/handouts(id=${campaignId})}">Handouts</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/notes(id=${campaignId})}">Notes &amp; Wiki</a>
        </div>
        <div class="appnav-group">
            <div class="appnav-label">Party</div>
            <a class="appnav-link" th:href="@{/campaigns/{id}/party(id=${campaignId})}">Roster</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/sheets(id=${campaignId})}">Sheets</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/treasury(id=${campaignId})}">Treasury</a>
            <a class="appnav-link" th:href="@{/campaigns/{id}/ledger(id=${campaignId})}">Ledger</a>
        </div>
        <div class="appnav-group">
            <div class="appnav-label">World</div>
            <a class="appnav-link" th:href="@{/campaigns/{id}/calendar(id=${campaignId})}">Calendar</a>
            <a class="appnav-link" href="/library">Library</a>
        </div>

        <div class="appnav-footer">
            <a class="btn btn-primary appnav-run" th:href="@{/campaigns/{id}/session(id=${campaignId})}">
                &#9876; Run Session
            </a>
        </div>
    </th:block>

    <th:block th:unless="${campaignId != null}">
        <div class="appnav-group">
            <a class="appnav-link" href="/campaigns">Campaigns</a>
            <a class="appnav-link" href="/library">Library</a>
            <a class="appnav-link" href="/library/about">About</a>
        </div>
    </th:block>

    <script>
    (function () {
        const path = location.pathname;
        document.querySelectorAll('#appnav .appnav-link').forEach(a => {
            const href = a.getAttribute('href');
            if (href !== '/' && path.startsWith(href)) a.setAttribute('aria-current', 'page');
        });
    })();
    </script>
</aside>
</html>
