<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Crect width='32' height='32' rx='6' fill='%231a1510'/%3E%3Ctext x='16' y='23' font-family='Georgia,serif' font-size='20' fill='%23c9a24a' text-anchor='middle'%3EM%3C/text%3E%3C/svg%3E">
    <link rel="stylesheet" th:href="@{/css/tokens.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/book.css}">
    <link rel="stylesheet" th:href="@{/css/surfaces.css}">
    <script th:src="@{/vendor/htmx.min.js}"></script>
    <script th:src="@{/js/dm-request.js}"></script>
    <script th:src="@{/js/keyboard.js}"></script>
    <script th:src="@{/js/command-palette.js}"></script>
    <script th:src="@{/js/quicknotes.js}"></script>
    <script th:src="@{/js/ui-elevation.js}"></script>
    <script th:src="@{/js/campaign-import.js}" defer></script>
    <script th:src="@{/vendor/alpine.min.js}" defer></script>
</head>
</html>
